:host{
  background: #3f51b5;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 120px;
  z-index: 1;
  padding: 10px 5px;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

@media only screen and (max-width: 599px) {
  /* For mobile phones: */
  :host{
    top: 112px
  }
}
