<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ genre_ids }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ poster_path }}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="truncate" data-longstring="overview">
      {{ overview }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE </button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
