<mat-toolbar color="primary" class="mat-elevation-z6 my-toolbar">
  <mat-toolbar-row>
    <span>ngMovies</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="example-spacer">
      <a mat-button class="button" [routerLink]="['/most-popular', { filter: 'most-popular' }]">Most Popular</a>
      <a mat-button class="button" [routerLink]="['/highest-rated', { filter: 'highest-rated' }]">Highest Rated</a>
      <a mat-button class="button" [routerLink]="['/best-from2020', { filter: 'best-from2020' }]">Best from 2020</a>


    </span>

  </mat-toolbar-row>
</mat-toolbar>

<app-breadcumb [option]="option"></app-breadcumb>
<router-outlet></router-outlet>
