<mat-toolbar color="primary" class="mat-elevation-z6 my-toolbar">
  <mat-toolbar-row>
    <span>ngMovies</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="example-spacer">
      <app-button-option option="Most Popular" (set_option)="onSetOption($event)"></app-button-option>
      <app-button-option option="Highest rated" (set_option)="onSetOption($event)"></app-button-option>
      <app-button-option option="Best from 2020" (set_option)="onSetOption($event)"></app-button-option>


    </span>

  </mat-toolbar-row>
</mat-toolbar>

<app-breadcumb [option]="option"></app-breadcumb>
<app-movie-list></app-movie-list>
